<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<section>
    <p>iCalendar file for the current Formula 1 season</p>
    <a href="/f1-races.ics">Download</a>
</section>
</body>
</html>